.font36px{
	font-size: 36px;
}
.font34px{
	font-size: 34px;
}
.font30px{
	font-size: 30px;
}
.font26px{
	font-size: 26px;
}
.font24px{
	font-size: 24px;
}
.font20px{
	font-size: 20px;
}
.font18px{
	font-size: 18px;
}
.font16px{
	font-size: 16px;
}
.font15px{
	font-size: 15px;
}
.font14px{
	font-size: 14px;
}